# $Id: inetd.cnf,v 1.1 2000-04-30 06:27:22 marion Exp $
#
# Format: <port> <command line>
# The command line may not be longer than MAXARGCOUNT words. The default
# as shipped is 12, defined in config.h.
#
# Sequences of line feed and carriage return are parsed as end of line.
# Comments are started with #.  Tab and space are white space.  There
# is no way to get white space into the command arguments.  Arguments
# are not parsed by any shell, no variable substitutions or quoting is
# available. Empty lines do not count, so error messages may be off by
# the amount of empty lines before the error.
#
# Port numbers chosen here are 10000 plus original port number. Don't
# use port 6000, that's X Windows. You may in fact configure any port
# number above zero, but you'll get warnings for reserved or dynamically
# assigned port numbers.
#
13000 ./relay
10021 ./ftprelay ftprelay.cnf # don't use the same config as relay
